
#header {
   
   padding-left:300px;
  
   padding-right: 300px;
   display: block;
   min-width: 400px;
   
    
}

#header h1 {
    padding-left: 250px;
    padding-right: 250px;
    text-align: center;
    min-width: 400px;

}
 
 
#header h2 {
    padding-left: 250px;
    padding-right: 250px;
    text-align: center;
    min-width: 400px;
}

#search-box {
    padding-left: 250px;
    padding-right: 250px;
    min-width: 400px;
}
 


#middle-section{
    padding-left: 30%;
    padding-right: 30%;
    display: inline-block;
    width: 700px;
   
   
}

#hero-image {
    border-style: solid;
    height: 300px;
    background-color: black;
    align-content: center;


}

#stat-box {
    border-style: solid;
    height:300px;
    float: right;
    width: 30%; 
    min-width: 200px;
    background-color: white;

   
      
}

#stat-box h3 {
    text-align: center;
   
    
}


#stat-box ul {
    text-align: left; 
   
}

#stat-box li {
    text-align: left; 
    padding:5px;
    padding-left: 50px;

    
}

#bio-box {
  padding-left: 15px;
border-style: solid;
clear:both;


}

#bio-box h3 {
    text-align: left;
}

#bio-box p {
    text-align: left;
    
    
}

#button-section {
    padding-left: 30%;
    padding-right: 40%;
    padding-top: 15px;
    padding-bottom: 15px;
    outline: none;
}

#button-section type {
   outline: none;
}

#comment-section {
  
    padding-left: 30%;
    padding-right: 40%;
   position: relative;
   

}

#search-box {
   
}

img#placeholder-image {
    
    max-height:100%; 
    max-width:100%;
}

#likes-amount {
    float:right;
    font-size: large;
    position: relative;
}