*{
   
    
}

body {
    background-image: url("assets/marvelbandw.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    
}

/* #header {
   
   padding-left:300px;
  
   padding-right: 300px;
   display: block;
   min-width: 400px;
   
    
} */

#header {
   
    text-align: center;
    
}


#hero-text {
    color:white;
}

#header h1 {
    padding-left: 250px;
    padding-right: 250px;
    text-align: center;
    min-width: 400px;
    color: white;

}
 
 
#header h2 {
    
    text-align: center;
    min-width: 400px;
    color: white;
}

#search-box {
    color:white;
    
   padding-left: 500px;
    align-content: center;
    text-align: center;
    position: relative;
}
 


#middle-section{
    padding-left: 30%;
    padding-right: 30%;
    display: inline-block;
    width: 600px;
    position: relative;
   
   
}

#hero-image {

    height:305px;
    text-align: center;
    background-color: black;

}

#placeolder-image {
   text-decoration-color: blanchedalmond;
}

#stat-box {
    border-style: solid;
    height:300px;
    float: right;
    width: 30%; 
    min-width: 200px;
    background-color: white;

   
      
}

#stat-box h3 {
    text-align: center;
   
    
}


#stat-box ul {
    text-align: left; 
   
}

#stat-box li {
    text-align: left; 
    padding:5px;
    padding-left: 50px;

    
}

#stat-box p {
    text-align: center;
}

#bio-box {
padding-left: 15px;
border-style: solid;
clear:both;
background-color:white;
color: black;



}

#bio-box h3 {
    text-align: left;
}

#bio-box p {
    text-align: left;
    
    
}

#button-section {
    padding-left: 30%;
    padding-right: 40%;
    padding-top: 15px;
    padding-bottom: 0px;
    outline: none;
    color:white;
}



#button-section type {
   outline: none;
}

#comment-section {
  
    padding-left: 30%;
    padding-right: 40%;
    position: relative;
    color:white;
   

}

#search-box {
   width: 400px; 
}

img#placeholder-image {
    
    max-height:100%; 
    max-width:100%;
}

#likes-amount {

    font-size: large;
    position: relative;
}

#dislike-amount {

    font-size: large;
    position: relative;
}

#commentBar {
    width: 400px;  
}