#header {
    padding-top: 50px;
}

#header h1 {
    padding-left: 250px;
    padding-right: 250px;
    text-align: center;
}
 
 
#header h2 {
    padding-left: 250px;
    padding-right: 250px;
    text-align: center;
}
 


#middle-section{
    padding-left: 250px;
    padding-right: 250px;
}

#hero-image {
    border-style: solid;
    
}

#stat-box {
    border-style: solid;
   
    
}

#stat-box h3 {
    text-align: center;
}


#stat-box ul {
    text-align: left; 
}


#bio-box {
    background-position: center;
}

#button-section {
    padding-left: 250px;
    padding-right: 250px;

}

#comment-section {
  
   padding-left: 250px;
   padding-right: 250px;

}